body {
    padding: 20px;
    background-color: #f8f9fa;
}
h1 {
    color: #007bff;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
input {
    width: 100%;
    margin-bottom: 10px;
}
button {
    width: 100%;
}
table {
    margin-top: 20px;
    width: 100%;
}
table th, td {
    border: 1px solid #007bff;
    text-align: center;
    padding: 10px;
}
#boton {
    margin-top: 10px;
}