<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: left; margin-left:10px;font-size: 40px; margin-top: -50px; color: white; font-family: 'Exo 2', sans-serif;">Geolocalización</h1>
    <div style="border: 5px solid rebeccapurple; margin-top: 30px;">
    <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
    <input type="text" [(ngModel)]="continenteSeleccionado" (input)="buscarPaises()">
    <table mat-table [dataSource]="paises">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let pais; let i = index" 
            [class.selected]="i === filaSeleccionada" 
            (click)="seleccionarPais(pais, i)"> 
            {{ pais.nombre }} 
        </td>
    </ng-container>

    <ng-container matColumnDef="paisDe">
      <th mat-header-cell *matHeaderCellDef> País de </th>
      <td mat-cell *matCellDef="let pais; let i = index" 
            [class.selected]="i === filaSeleccionada" 
            (click)="seleccionarPais(pais, i)"> 
            {{ pais.paisDe }} 
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <div *ngIf="mostrarGuerras()">
    <h2>Guerras del país seleccionado:</h2>
    <ul>
      <li *ngFor="let guerra of guerras">{{ guerra.nombre }} ({{ guerra.year }})</li>
    </ul>
    </div>

</body>
</html>
