<h1 style="text-align: left; margin-left:10px;font-size: 40px; margin-top: -50px; color: white; font-family: 'Exo 2', sans-serif;">Geolocalización</h1>

<div style="border: 5px solid rebeccapurple; margin-top: 80px;">
  <div id="map" style="width: 100%; height: 500px;"></div>
</div>

<input type="text" [(ngModel)]="continenteSeleccionado" (input)="buscarPaises()">

<div style="display: flex; flex-direction: row;">
  <div style="flex: 1;">
    <h2>Lista de Países</h2>
    <ul>
      <li *ngFor="let pais of paises" (click)="mostrarGuerras(pais)">{{ pais.nombre }}</li>
    </ul>
  </div>

  <div style="flex: 1;" *ngIf="guerras.length > 0">
    <h2>Guerras de {{ paisSeleccionado?.nombre }}</h2>
    <table mat-table [dataSource]="guerras">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre de la Guerra </th>
        <td mat-cell *matCellDef="let guerra"> {{ guerra.nombre }} </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let guerra"> {{ guerra.year }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['nombre', 'year']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nombre', 'year'];"></tr>
    </table>
  </div>
</div>
