<h1 style="text-align: left; margin-left:10px;font-size: 40px; margin-top: -50px; color: white; font-family: 'Exo 2', sans-serif;">
    Geolocalización
</h1>

<div style="border: 5px solid rebeccapurple; margin-top: 40px;">
    <div id="map" style="width: 100%; height: 400px;"></div>
</div>


<div>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
            <h2><label>Selecciona tu continente favorito: </label></h2>
            <mat-radio-group [(ngModel)]="continenteSeleccionado">
                <mat-radio-button *ngFor="let continente of filteredContinentes | async" [value]="continente" (click)="buscarPaises(continente); centrarEnContinente(continente)">
                    <span class="con">{{continente}}</span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div style="flex: 1;" *ngIf="continenteSeleccionado !== 'Todos'">
            <h2 class="h2">Lista de Países de {{continenteSeleccionado}}</h2>
            <ul>
                <li *ngFor="let pais of paises" (click)="mostrarGuerras(pais)">{{ pais.nombre }}</li>
            </ul>
        </div>
    </div>
</div>



<div *ngIf="continenteSeleccionado === 'Todos'" [@fadeInOut]>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por país" >
    </mat-form-field>
    <table mat-table [dataSource]="informacionCompleta">
        <ng-container matColumnDef="continente">
            <th mat-header-cell *matHeaderCellDef>Continente</th>
            <td mat-cell *matCellDef="let info">{{ info.continente }}</td>
        </ng-container>
        <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let info">{{ info.pais }}</td>
        </ng-container>
        <ng-container matColumnDef="guerra">
            <th mat-header-cell *matHeaderCellDef>Guerra</th>
            <td mat-cell *matCellDef="let info">{{ info.guerra }}</td>
        </ng-container>
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Año</th>
            <td mat-cell *matCellDef="let info">{{ info.year }}</td>
        </ng-container>
        <ng-container matColumnDef="muertes">
            <th mat-header-cell *matHeaderCellDef>Muertes</th>
            <td mat-cell *matCellDef="let info">{{ info.muertes }}</td>
        </ng-container>
        <ng-container matColumnDef="religiones">
            <th mat-header-cell *matHeaderCellDef>Religiones Implicadas</th>
            <td mat-cell *matCellDef="let info">{{ info.religiones }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['continente', 'pais', 'guerra', 'year', 'muertes', 'religiones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['continente', 'pais', 'guerra', 'year', 'muertes', 'religiones'];"></tr>
    </table>
</div>

